/*-*- css-indent-offset: 2 -*-*/

/* Mini reset. */
html { box-sizing: border-box; }
*, :before, :after { box-sizing: inherit; padding: 0; margin: 0; }

/* Other. */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  max-width: 75ch;
  margin: 0 auto;
  line-height: 1.75;
}
html {
  --pass: #41b941aa;
  --fail: #ff4444aa;
  --none: #7d7d7d99;
  --back: #fff;
  --fore: #000;
  --normal-pass: linear-gradient(var(--pass), var(--pass)), var(--back);
  --normal-fail: linear-gradient(var(--fail), var(--fail)), var(--back);
  --bright-pass: linear-gradient(#fff3, #fff3), linear-gradient(var(--pass), var(--pass)), var(--back);
  --bright-fail: linear-gradient(#fff3, #fff3), linear-gradient(var(--fail), var(--fail)), var(--back);
  @media(prefers-color-scheme:dark) { --fore: #ddd; --back: #000 }
  transition: background-color .1s ease-in, color .1s ease-in;
  color: var(--fore);
  background: var(--back);
  --indent: 1.5em;
  --border-width: 2px;
}
a { border-radius: 1px; color: #88fd }
a:hover { background: #44f4; outline: 2px solid #44f4 }
:focus { outline-offset: 1px; outline: 2px solid #6668 }
a:active {}
code, tt, blockquote, pre {
  background: #aaa5;
  border-radius: .25em;
  outline: 1px solid #0003;
}
code, tt {
  padding: .25em .25em .0625em;
}
blockquote, pre {
  padding: .5em 1em;
  margin: 1.5em 0;
}
blockquote {
  border-left: .7em solid #0002;
  padding-left: .3em;
  & > :first-child { margin-top: 0 }
  & > :last-child { margin-bottom: 0 }
}
details, .error, .legend {
  line-height: 1.5;
  border-radius: .25em;
  margin: 2px 0;
  padding: .125em .25em;
  border: 1px solid #888a;
  overflow-x: scroll;
}
details.group tt.multi { display: inline-block; vertical-align: middle; line-height: .9; }
details.group.skip, .legend.skip { background: var(--none); }
details.group.pass, .legend.pass { background: var(--normal-pass); }
details.test.pass                { background: var(--bright-pass); }
details.group.fail, .legend.fail { background: var(--normal-fail); }
details.test.fail,  .error       { background: var(--bright-fail); }
details.group.skip, .legend.skip,
details.group.pass, .legend.pass,
details.test.pass,
details.group.fail, .legend.fail,
details.test.fail,  .error {
  color: #000;
  border: 1px solid #0008;
  code, tt, pre {
    background: #0001;
    outline: 1px solid #0003;
    & div.comment {
      & * { background: #00000018 }
      color: #0006;
    }
  }
}
details.skip > summary { text-decoration-line: line-through; }
.group {
  padding-left: 1em;
}
.group > summary {
  font-weight: bold;
  margin-left: -.75em;
}
.group div.count { float: right; }
div.count > span.pass, div.count > span.fail, div.count > span.skip {
  width: 1.5em;
  display: inline-block;
  text-align: right;
  color: #444;
}
div.count > span.pass { color: #050; }
div.count > span.fail { color: #600; }
textarea { width: 100%; overflow: visible; height: fit-content; background: #0000;}
summary { cursor: pointer; }
hr { margin: 2em; }
table {
  border-spacing: .125em;
}
td, th {
  vertical-align: baseline;
  font-family: sans;
}
tbody th { text-align: right; }
td {
  border-radius: .25em;
  background: #0002;
  font-weight: normal;
  text-align: left;
  padding: .125em .25em .1875em;
}
.docs table {
  margin: 1.5em;
  border-collapse: collapse;
}
.docs td, .docs th {
  border: var(--border-width) solid #8888;
  padding: .125em .5em;
  background: #0000;
  text-align: revert-layer !important;
}
li { margin-left: 1em; }
p, h1, h2, h3, h4, ul, ol, footer { margin: 1em 0 .5em; }
footer {
  text-align: center;
  margin-top: auto;
  padding-top: 1em;
}
.fixme, .note, .skipnote { background: #ff0a; font-weight: bold; border-radius: .25em; }
h1, h2, h3, h4, h5, h6 {
  & a {
    color: inherit;
    text-decoration: none;
    text-decoration-thickness: 2px;
  }
  & a:hover { text-decoration: underline }
  & a[href^="#"]:hover:after {
    display: inline-block;
    content: " #";
    color: #666;
    width: 0em;
    text-decoration: none;
  }
  font-family: sans;
}
.nowrap { white-space: nowrap }

/**** Style for table-of-contents. ****/
ul.toc, .toc ul {
  list-style: none;
  margin: 0;
  & a {
    color: inherit;
    text-decoration: none;
    &:hover { text-decoration: underline }
  }
  & li {
    position: relative;
    margin: 0 0 0 var(--indent);
    vertical-align: top;
    &:before, &:after {
      position: absolute;
      height: .8em; width: 1em; top: 0; left: -1.2em;
      content: '';
      border: solid #8888;
      border-width: 0 0 var(--border-width) var(--border-width);
      border-radius: 0 0 0 1em;
    }
    &:last-child:before { content: unset }
    &:before {
      border-bottom-left-radius: 0;
      height: 100%; border-bottom-width: 0;
    }
  }
}

/*[eof]*/
